<div class="page-header">
  <h1>
    Events
    <a href="/events/new" class="btn btn-lg btn-success">New Event</a>
  </h1>
</div>


<% @events.each do |event| %>


  <div class="col-md-4 col-md-offset-0">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">
            <a href="/events/<%= event.id %>"> <strong> <%= event.title %> </strong></a>

          <small> <em>
             <%= event.user.first_name %>  <%= event.user.last_name %>
          </emd></small>

         </a>

          </h1>
            <h1 class="panel-title">
              <%= event.date %>
        </h1>
      </div>


      <div class="panel-body">
          <a href="/events/<%= event.id %>"> <img  src="<%=event.receipt%>"  style='width:50%' height= "150px">
        </a>

                        <dd><strong>Description:</strong> <%= event.description %></dd>
                        <dd><strong>Location</strong> <%=event.location%></dd>
                          <dd><strong>Posted:</strong>&nbsp;<%= time_ago_in_words(event.created_at)%> ago</dd>
      </div>
    </div>
  </div>


<% end %>
